.frame {
  max-width: 500px;

  margin: 0 auto;
  text-align: center;
}
input {
}
.form {
  display: none;
}

.submission {
  margin-top: 100px;
  margin-bottom: 10px;
}

.prompt {
  margin-top: 100px;
}
